.mainNavContainer {
  display: block;
  width: 10%;
 
  ul {
    padding: 10px;
    background: aquamarine;

    li {
      line-height: 2;

      .active {
        background: red;
        color: #fff;
        font-weight: bold;
        cursor: text;
        text-decoration: none;
      }
    }
  }
}